{% extends 'base.html' %}
{% from "bootstrap_form_helper.html" import render_field, render_fk_field %}

{% block content %}
{% include 'menu.html' %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="well setting transparent">
                <form class="form-horizontal" method="post" action="">
                    <legend class="clear-legend">Modify the Device</legend>
                    {{ form.hidden_tag() }}
                    {{ render_field(form.name, "Name") }}
                    {{ render_field(form.ip1, "First IP") }}
                    {{ render_field(form.ip2, "Second IP") }}
                    {{ render_field(form.password, "Password") }}
                    {{ render_fk_field(form.devicetype, "Device Type", add_button=False) }}
                    {{ render_fk_field(form.lan, "Lan", add_button=False) }}
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary">
                            <span>Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
