{% extends "base.html" %}

{% block content %}
    {% include 'includes/menu.html' %}
    <div class="container-fluid white">
        <div class="row-fluid">
            <div class="col-lg-12 text-center">
                <h2>Welcome to LostInNetwork</h2>
                <p><i>LIN is an open-source network analysis and backup tool.</i></p>
                <h3>Quickstart</h3>
                <p>
                    Head to the <a href="{{ url_for('devices') }}">devices</a> page and start adding your equipments in the LIN database.<br />
                    You can use the 'Global' Lan or add your own if you want to separate your devices. It won't affect the way the configurations are fetched.
                </p>
                <p>To get more help, go to the <a href="{{ url_for('help') }}">help</a> page.</p>
                <img class="img-responsive" style="margin: 0 auto;" src="http://now.symassets.com/now/en/GB_SITE/pu/images/Promotions/hitchhikers-guide-hacking/images/don-t%20panic.png">
            </div>
        </div>
    </div>
{% endblock %}
