{% extends "base.html" %}
{% from "helpers/bootstrap_form.html" import render_field %}

{% block content %}
  {% if form %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div class="panel login transparent">
          <div class="panel-body">
            <form class="form-horizontal" method="post" action="">
              <legend class="clear-legend">Login</legend>
              {{ form.hidden_tag() }}
              {{ render_field(form.username) }}
              {{ render_field(form.password) }}
              <div class="form-group text-center">
                <button type="submit" class="btn btn-primary">
                  <span>Login</span>
                </button>
                <a id="help-popover" class="pull-right" href="#" data-content="Welcome to your Lost In Network Application. If this is the first time the application is started, the default user/password pair is root/root. You will be prompted to modify it on your first connection."><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
  <script type="text/javascript">
    $(function () {
      $('#help-popover').popover({
        placement: 'right',
        container: 'body',
        template: '<div class="popover dark" role="tooltip"><div class="popover-content"></div></div>'
      });
    })
  </script>
  {% endif %}
{% endblock %}
