{% extends "base.html" %}

{% block content %}
  {% if form %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div class="panel login transparent">
          <div class="panel-body">
            <form class="form-horizontal" method="post" action="">
              <legend class="clear-legend">Login</legend>
              {% with messages = get_flashed_messages() %}
                {% if messages %}
                  {% for message in messages %}
                    <div class="alert alert-danger" role="alert">{{ message }}</div>
                  {% endfor %}
                {% endif %}
              {% endwith %}
              {{ form.hidden_tag() }}
              <div class="form-group {% if form.username.errors %}has-error{% endif %}">
                {% if form.username.errors %}
                  {% for err in form.username.errors %}
                  <label class="control-label">{{ err }}</label>
                  {% endfor %}
                {% endif %}
                {{ form.username(class="form-control", placeholder="Username") }}
              </div>
              <div class="form-group {% if form.password.errors %}has-error{% endif %}">
                {% if form.password.errors %}
                  {% for err in form.password.errors %}
                  <label class="control-label">{{ err }}</label>
                  {% endfor %}
                {% endif %}
                {{ form.password(class="form-control", placeholder="Password") }}
              </div>
              <div class="form-group text-center">
                <button type="submit" class="btn btn-primary">
                  <span>Login</span>
                </button>
                <a id="help-popover" class="pull-right" href="#" data-content="Welcome to your Lost In Network Application. If this is the first time the application is started, the default user/password pair is root/root. You will be prompted to modify it on your first connection."><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
  <script type="text/javascript">
    $(function () {
      $('#help-popover').popover({
        placement: 'right',
        container: 'body',
        template: '<div class="popover dark" role="tooltip"><div class="popover-content"></div></div>'
      });
    })
  </script>
  {% endif %}
{% endblock %}
