{% extends 'base.html' %}
{% from "bootstrap_form_helper.html" import render_field %}

{% block content %}
{% include 'menu.html' %}
{% if form %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="well setting transparent">
            <form class="form-horizontal" method="post" action="">
              <legend class="clear-legend">Change Password</legend>
              {{ form.hidden_tag() }}
              {{ render_field(form.oldpassword, placeholder="Old Password") }}
              {{ render_field(form.newpassword, placeholder="New Password") }}
              {{ render_field(form.repeat, placeholder="Repeat New Password") }}
              <div class="form-group text-center">
                <button type="submit" class="btn btn-primary">
                  <span>Save</span>
                </button>
              </div>
            </form>
        </div>
      </div>
    </div>
  </div>
{% endif %}
{% endblock %}