{% extends "base.html" %}

{% block content %}
    {% include 'includes/menu.html' %}
    <div class="container-fluid">
        <div class="col-md-6">
            <div class="well setting transparent white">
                <legend class="clear-legend">System Information</legend>
                <div class="container-fluid">
                    <div class="row-fluid">
                        <div class="col-md-3"><b>Distribution</b></div>
                        <div class="col-md-9"><p>{{ sysinfo.distrib }}</p></div>
                    </div>
                    <div class="row-fluid">
                        <div class="col-md-3"><b>Uname</b></div>
                        <div class="col-md-9"><p>{{ sysinfo.uname }}</p></div>
                    </div>
                    <div class="row-fluid">
                        <div class="col-md-3"><b>Uptime</b></div>
                        <div class="col-md-9"><p>{{ sysinfo.uptime }}</p></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="well setting transparent white">
                <legend class="clear-legend">System Instant State</legend>
                <div class="container-fluid">
                    <div class="row-fluid">
                        <div class="col-md-3"><b>CPU</b></div>
                        <div class="col-md-9"><p id="cpu-container">--- %</p></div>
                    </div>
                    <div class="row-fluid">
                        <div class="col-md-3"><b>RAM</b></div>
                        <div class="col-md-9"><p id="vmem-container">--- %</p></div>
                    </div>
                    <div class="row-fluid">
                        <div class="col-md-3"><b>Disk</b></div>
                        <div class="col-md-9"><p id="disk-container">--- % Full</p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_js_at_end %}
<script>
    function systemQuery() {
        $.ajax({
            url: '{{ url_for("ajax_system") }}',
            success: function(data) {
                console.log(data);
                $("#cpu-container").html(data.cpu + " %");
                $("#vmem-container").html(data.vmem + " %");
                $("#disk-container").html(data.disk + " % Full");
                // do something with the return value here if you like
            }
        });
        setTimeout(systemQuery, 1000); // you could choose not to continue on failure...
    }

    $(document).ready(function() {
    // run the first time; all subsequent calls will take care of themselves
        setTimeout(systemQuery, 1000);
    });
</script>
{% endblock %}
