{% extends 'base.html' %}
{% block content %}
{% include 'menu.html' %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="well setting transparent">
			<form id="cve-form" action="" method="POST">
				<button id="getcve-btn" class="btn btn-primary" value="updatecve" name="getcve-btn" type="submit">Update CVE</button>
			</form>
        </div>
        <div class="well setting transparent">
			<form id="psend-form" action="" method="POST">
				<button id="psend-btn" class="btn btn-primary" value="psend" name="psend-btn" type="submit">Psendcommand</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

