{% from "helpers/task.html" import render_html_async_fetch, render_js_call %}

{% extends 'base.html' %}
{% block content %}
{% include 'includes/menu.html' %}
<div class="container-fluid white">
    <h2>Tasks</h2>

    <div class="container-fluid well transparent white">
        {{ render_html_async_fetch(suffix="cve", button_text="Update CVE", help_text="The CVE Update is executed once per day at midnight. Click the above button to update the CVE right now.") }}
        {{ render_html_async_fetch(suffix="fetch", button_text="Fetch Configurations", help_text="Click here to fetch the configurations of your devices.") }}
        {{ render_html_async_fetch(suffix="analyse", button_text="Start Analysis", help_text="Click here to start the analysis of the latest files fetched.") }}
    </div>
</div>
{% if last_fetch %}
<div class="container-fluid white">
    <h2>Informations</h2>
    <div class="well transparent">
        <p><b>Last Fetch</b><br /> {{ last_fetch.strftime('%d-%m-%Y at %H:%M:%S')}}</p>
    </div>
</div>
{% endif %}
{% endblock %}

{% block extra_js_at_end %}
<script>
    function start_long_task(url, status_url, percentage_div, message_div) {
        $.ajax({
            type: 'POST',
            url: url,
            success: function(data, status, request) {
                update_progress(status_url, percentage_div, message_div);
            },
            error: function() {
                alert('Unexpected error');
            }
        });
    }

    function update_progress(status_url, percentage_div, message_div) {
        $.getJSON(status_url, function(data) {
            if(!data['started'] || data['status'] == 'PENDING') {
                message_div.text("Pending...");
                setTimeout(function() {
                    update_progress(status_url, percentage_div, message_div);
                }, 1000);
            } else {
                percent = parseInt(data['percentage']);
                percentage_div.css('width', percent + '%').attr('aria-valuenow', percent).text(percent + "%");
                message_div.text(percent + "% " + data['message']);
                if (percent != 100) {
                    setTimeout(function() {
                        update_progress(status_url, percentage_div, message_div);
                    }, 1000);
                }
            }
        });
    }

    function check_run_long_task(url, status_url, row_div, percentage_div, message_div, button_div, button) {
        var initial_data = null;
        $.ajax({
            url: status_url
        }).done(function (data) {
            initial_data = data;
            if (initial_data.started) {
                row_div.show();
                update_progress(
                    status_url,
                    percentage_div,
                    message_div
                );
            } else {
                button_div.show();
                button.click(function() {
                    row_div.show();
                    button_div.hide();
                    start_long_task(
                        url,
                        status_url,
                        percentage_div,
                        message_div
                    );
                });
            }
        });
    }

    {{ render_js_call(suffix="cve", url='async_cve_update', status_url='async_cve_update_status') }}
    {{ render_js_call(suffix="fetch", url='start_scan_all_devices_async', status_url='scan_all_devices_async_status') }}
    {{ render_js_call(suffix="analyse", url='async_analysis_start', status_url='async_analysis_status') }}
</script>
{% endblock %}
