{% extends 'base.html' %}
{% block content %}
{% include 'menu.html' %}
<div class="container-fluid white">
    <h2>Tasks</h2>

    <div class="row-fluid well transparent white">
        <div id="row-button-cve" hidden>
            <span><a id="getcve-async" class="btn btn-primary">
                Update CVE
            </a></span>
            <span class="pull-right">The CVE Update is executed once per day at midnight. Click the above button to update the CVE right now.</span>
        </div>
        <div id="row-progress-cve" hidden>
            <div class="progress">
                <div id="progress-cve" class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                     aria-valuemax="100" style="width: 0%; min-width: 2em;">
                    0%
                </div>
            </div>
            <span id="progress-message"></span>
        </div>
        <br/>

        <div id="row-button-scan" hidden>
            <span><a id="scan-async" class="btn btn-primary">
                Update CVE
            </a></span>
            <span class="pull-right">The CVE Update is executed once per day at midnight. Click the above button to update the CVE right now.</span>
        </div>
        <div id="row-progress-scan" hidden>
            <div class="progress">
                <div id="progress-scan" class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                     aria-valuemax="100" style="width: 0%; min-width: 2em;">
                    0%
                </div>
            </div>
            <span id="progress-message-scan"></span>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js_at_end %}
<script>
    function start_long_task(nanobar, div) {
        $.ajax({
            type: 'POST',
            url: "{{ url_for('async_cve_update') }}",
            success: function(data, status, request) {
                update_progress();
            },
            error: function() {
                alert('Unexpected error');
            }
        });
    }

    function update_progress() {
        $.getJSON("{{ url_for('async_cve_update_status') }}", function(data) {
            percent = parseInt(data['percentage']);
            $('#progress-cve').css('width', percent + '%').attr('aria-valuenow', percent).text(percent + "%");
            $('#progress-message').text(percent + "% " + data['message']);
            if (data['state'] != 'PENDING' && data['state'] != 'PROGRESS') {
                if ('result' in data) {
                    $(status_div.childNodes[3]).text('Result: ' + data['new']);
                } else {
                    $(status_div.childNodes[3]).text('Result: ' + data['state']);
                }
            } else if (percent != 100) {
                setTimeout(function() {
                    update_progress();
                }, 1000);
            }
        });
    }

    var initial_data = null;
    $.ajax({
        url: "{{ url_for('async_cve_update_status') }}"
    }).done(function (data) {
        initial_data = data;
        if (initial_data.started) {
            $("#row-progress-cve").show();
            update_progress();
        } else {
            $("#row-button-cve").show();
        }
    });
    $("#getcve-async").click(function() {
        $("#row-progress-cve").show();
        $("#row-button-cve").hide();
        start_long_task();
    });




</script>
{% endblock %}
